@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

.active{
  background: linear-gradient(135deg, #dc2626 0%, #ea580c 100%);
  border-color: #dc2626;
  color: white;
  font-weight: 900;
  box-shadow: 4px 4px 0px 0px rgba(220, 38, 38, 1);
}

*{
  font-family: Outfit;
}

select, input, textarea {
  /* border: 1px solid black; */
  outline-color: #dc2626;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}